body {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 0 40px;
}

/* top texts */
.main_text_about {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}
.main_text_about p {
    color: #717182;
    margin-bottom: 40px;
}

/* table */
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 30px;
    border: 1px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 30px;
}

/* table cells */
td,
th {
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

th {
    background-color: #ececf0;
}

/* goal container */
.goal_container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.card {
    border: #ddd solid 1px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card img {
    width: 36px;
    height: 36px;
}

.card:hover {
    scale: 1.02;
    transition: scale 0.2s ease, border-color 0.2s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}