body {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 0 40px;
}

.add_task_texts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
}

.top_texts {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.top_texts p {
    color: #717182;
}

.add_task_btn a {
    text-decoration: none;
    background-color: #030213;
    padding: 15px 25px;
    color: white;
    border-radius: 12px;
    font-weight: 600;
    display: inline-flex;
}

.add_task_btn a:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: 0.2s ease;
}