* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 60px;
    background-color: #ffffff;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    color: #888;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -24px;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a:hover {
    color: oklch(0.145 0 0);
}

.nav-links a.active {
    color: black;
}

.nav-links a.active::after {
    width: 100%;
}

.appLogo {
    width: 30px;
    height: 30px;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 576px) {

    .menu-toggle {
        display: block;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        background: white;
        flex-direction: column;
        padding: 80px 30px;
        margin-top: -6px;
        transition: 0.3s ease;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background: white;
        padding: 20px;
        border-radius: 10px;
    }

    .nav-links a.active {
        background: #030213;
        color: white;
        padding: 12px;
        border-radius: 10px;
    }

    .nav-links a {
        font-size: 18px;
        display: block;
        width: 100%;
        padding: 8px 12px;
    }

    .nav-links a::after {
        display: none;
    }
}